$color-red: #D0011B;
$color-white: #FEFEFE;
$screen-shadow: 0 2px 3px rgba(0, 0, 0, .5);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #FEFEFE;
}

// Clip Path note: clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

/* ------------ FRONT SEC -------------- */

.front-sec {
    width: 100%;
    height: 120vh;
    position: relative;

    &__nav {
        width: 80%;
        margin: 3rem auto;
        display: flex;
        color: $color-white;

        &-logo {
            margin-right: 40%;
            font-size: 2.3rem;
        }

        &-menu1 {
            display: flex;
            margin-right: 15%;
            list-style: none;
            font-size: 1.2rem;

            &-item {
                margin-right: 4rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-menu2 {
            display: flex;
            list-style: none;
            font-size: 1.2rem;

            &-item {
                margin-top: -.5rem;
                font-weight: 600;
                color: #000;
                margin-right: 4rem;
                padding: .5rem 2.5rem;
                border: 1.5px solid #000;
                border-radius: 30px;

                &:last-child {
                    margin-right: 0;
                    color: $color-red;
                    border-color: $color-red;
                }
            }
        }
    }

    &__cookies {
        position: absolute;
        top: 10rem;
        right: 3rem;
        width: 13rem;
        height: 13rem;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 50%;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .5);

        &-para {
            position: absolute;
            left: 10%;
            top: 25%;
            width: 80%;
            text-align: center;

            span {
                //display: block;
                font-weight: 600;
                text-decoration: underline;
            }
        }
        
        &-button {
            text-decoration: none;
            position: absolute;
            color: inherit;
            font-weight: 600;
            top: 61%;
            left: 22%;
            padding: .5rem 2rem;
            border: 1px solid #000;
            border-radius: 30px;
        }
    }

    &__hero {
        position: absolute;
        z-index: -1;
        top: -3rem;
        left: 0;
        -webkit-clip-path: circle(80% at 28% 40%);
        clip-path: circle(80% at 28% 40%);
        

        background-color: $color-red;
        color: #fefefe;
        width: 74%;
        height: 90vh;

        &-head {
            position: absolute;
            top: 25%;
            left: 12%;
            //transform: translate(-50%, -50%);
            font-size: 6rem;
            font-weight: 300;
        }

        &-info1 {
            position: absolute;
            bottom: 15.5rem;
            left: 12%;
            width: 10rem;

            &-head {
                margin-bottom: 1rem;
            }
        }

        &-info2 {
            position: absolute;
            bottom: 15.5rem;
            left: 30%;
            width: 12rem;
            &-head {
                margin-bottom: 1rem;
            }
        }
    }

    &__screen {
        width: 60%;
        position: absolute;
        bottom: 10rem;
        right: 0;
        box-shadow: $screen-shadow;
    }
}

/* ------------- SEC ONE ------------- */
.sec-one {
    margin: 5rem 0;
    height: 100vh;
    position: relative;

    &__head {
        font-size: 6rem;
        font-weight: 300;
        margin-left: 8%;
        margin-bottom: 5rem;
        width: 60%;
    }

    &__para {
        font-size: 1.6rem;
        width: 25%;
        margin-left: 8%;
        margin-bottom: 20rem;
    }

    &__descbox {
        margin-left: 8%;
        width: 8%;

        &-head {
            margin-bottom: 1rem;
        }
        
        &-desc {
            line-height: 1.2;
        }
    }

    &__screen {
        width: 60%;
        position: absolute;
        right: 0;
        bottom: 10rem;
        border: .5px solid rgba(0, 0, 0, .5);
        box-shadow: $screen-shadow;
    }

    &__glass {
        position: absolute;
        top: 61%;
        right: 20%;
        z-index: 10;
        height: 2px;
        width: 60%;
        background-color: $color-red;
        margin-left: 15px;

        &::before {
            position: absolute;
            left: -5px;
            top: -1.7px;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #D0011B;
        }

        &::after {
            position: absolute;
            right: -5rem;
            top: -2.5rem;
            content: '';
            width: 5rem;
            height: 5rem;
            border: 2px solid red;
            border-radius: 50%;
            background-color: rgba(255, 0, 0, 0.116);
        }
    }
}

/* ------------- SEC TWO ------------- */

.sec-two {
    width: 100%;
    height: 75vh;
    margin-bottom: 20rem;
    position: relative;

    &__head {
        font-size: 6rem;
        font-weight: 300;
        margin-left: 8%;
        margin-bottom: 5rem;
        width: 60%;
    }

    &__para {
        font-size: 1.6rem;
        width: 25%;
        margin-left: 8%;
    }

    &__screen {
        width: 60%;
        position: absolute;
        right: 0;
        bottom: -7rem;
        border: 1px solid rgba(0, 0, 0, .5);
        box-shadow: $screen-shadow;
    }
}

/* ------------- SEC TWO ------------- */
.sec-plans {
    width: 84%;
    height: 50vh;
    margin: 0 auto;
    display: flex;

    &__left {
        &-head {
            font-size: 6rem;
            font-weight: 300;
        }
    }

    &__right {
        width: 60%;
        margin-top: 3.5rem;
        margin-left: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 15rem);


        &-pricing {
            width: 80%;
            padding-top: 1.5rem;
            height: 15rem;
            border-top: 1px solid $color-red;
            

            &-desc {
                font-size: 1.6rem;
                border-top: 1px solid $color-red;
                padding-top: 10px;
            }

            &-price {
                font-size: 6rem;
                font-weight: 300;
                border-top: 1px solid $color-red;
                position: relative;

                
                

                .price-desc {
                    position: absolute;
                    left: 85px;
                }

                .euro {
                    position: absolute;
                    left: -35px;
                    top: 0px;
                    color: $color-red;
                }

                .spanning {
                    color: $color-red;
                    position: absolute;
                    left: 0;
                    // position: absolute;
                    // top: 30px;
                    // left: 35px;
                }

                span {
                    position: absolute;
                    font-size: 1.6rem;
                    top: 15px;
                    left: 50px;
                    // position: absolute;
                    // top: 10px;
                }

                .last-span {
                    position: absolute;
                    left: 80px;
                    color: red;
                }
            }
        }
    }
}

/* ------------- FOOTER ---------------- */
.footer {
    width: 100%;
    height: 70vh;
    margin-top: 20rem;
    padding: 7rem;
    background-color: $color-red;
    color: #fff;
    -webkit-clip-path: ellipse(53% 85% at 50% 100%);
clip-path: ellipse(53% 85% at 50% 100%);
position: relative;


    &__btn:link,
    &__btn:visited {
        display: block;
        width: 20rem;
        text-align: center;
        margin: 8rem auto 4rem auto;
        color: $color-white;
        font-size: 2.2rem;
        text-decoration: none;
        padding: 2rem 4rem;
        border: 1.5px solid $color-white;
        border-radius: 40px;
        transition: all .5s;
    }

    &__btn:hover,
    &__btn:active {
        background-color: $color-white;
        color: $color-red;
        border: 1.5px solid $color-red;
        box-shadow: $screen-shadow;
    }

    &__desc {
        text-align: center;
        font-size: 1.4rem;
    }

    &__nav {
        position: absolute;
        bottom: 4rem;
        width: 80%;
        margin: 0 auto;
        display: flex;
        font-size: 1.2rem;
        justify-content: space-between;
    }

    &__menu1 {
        display: flex;
        list-style: none;

        &-item {
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__menu2 {
        display: flex;
        list-style: none;

        &-item {
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

